# OSX
#
.DS_Store

# Xcode
#
*.mode1v3
!default.mode1v3
xcuserdata
*.moved-aside
*.hmap
*.xcuserstate
project.xcworkspace

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


build/
.idea
.gradle
local.properties
*.iml
package-lock.json

# BUCK
buck-out/
\.buckd/
*.keystore
